RewriteEngine On

# If the request is not a real file
RewriteCond %{REQUEST_FILENAME} !-f

# If the request is not a real directory
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect everything to index.php
RewriteRule ^(.*)$ index.php [L,QSA]